.tela {
    display: flex;
    background-color: #e9ecef;
}

.calendario {
    height: 100vh;
    width: 80%;
}

.toolbar {
    height: 100vh;
    width: 20%;
    background-color: #04401e;
    border-right: 1px solid #000000;
}

/*botao de voltar na barra lateral*/
.btn-voltar {
  background: linear-gradient(145deg, #ffffff, #d4f1c5); 
  color: #04401e; 
  border: 2px solid #04401e;
  border-radius: 6px; 
  padding: 8px 16px; 
  font-weight: 500; 
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); 
  transition: all 0.2s ease-in-out; 
}

.btn-voltar:hover {
  background-color: #f0f0f0; 
  transform: translateY(-1px); 
  box-shadow: 0 4px 8px rgba(0,0,0,0.3); 
}


/*header modificado*/
.toolbar-container{
    display: flex;
    height: 10vh;
    align-items: center;
    padding-left: 50px;
    margin-top: 10px;
}
.mesAno{
    width: 10%;
    color: var(--gray-dark);
    justify-content: flex-start;
}
.dirtop{
    width: 50%;
    justify-content: end;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

/*modal*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.562);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: aliceblue;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.081);
    z-index: 10000;
}


/*Calendario*/
/*Header*/
.rbc-toolbar {
    height: 10vh;
    color: #bbb;
    font-size: 25px;
}
.rbc-btn-group > button {
    border: 0;
}

.rbc-toolbar button {
    color: #cecece;
    border: 1px solid #cccccc4f;
}
.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
    background-color: #56565686;
    border-color: #bbb;
}

/*Corpo*/
/*Linhas*/
.rbc-month-view {
    border-color: #968c8c;
}
.rbc-month-row + .rbc-month-row {
    border-color: #968c8c;
}
.rbc-day-bg + .rbc-day-bg {
    border-color: #968c8c;
}

/*Mes*/
.rbc-header {
    color: var(--gray-dark);
    border-color: #968c8c;
}
.rbc-header + .rbc-header {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #080808;
}
/*dias fora do range, do mes passado ou futuro*/
.rbc-off-range-bg {
    background-color: #b9b0b0;
}
.rbc-today {
    background-color: #5f5959;
}
.rbc-button-link {
    margin: 5px;
    font-size: 15px;
    color: #080808;
}
.rbc-off-range .rbc-button-link{
    color: #201d1d;
}
.rbc-now .rbc-button-link{
    background-color: #080808;
    color: #ffffff;
    border-radius: 3px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 5px;
    font-size: 16px;
}
.rbc-time-content,.rbc-time-content > .rbc-day-slot,.rbc-timeslot-group, .rbc-time-slot{
    color: #080808;
    border-color: #b0b0b036;
}
.rbc-day-slot .rbc-time-slot{
    border-top: 1px solid #080808 ;
}
